openapi: 3.0.1
info:
  title: Order API
  description: Sample Order API for fusion
  termsOfService: https://www.scoperetail.com/terms.html
  contact:
    email: info@scoperetail.com
  license:
    name: Terms
    url: https://www.scoperetail.com/terms.html
  version: 1.0.0
externalDocs:
  description: Find out more about ScopeRetail
  url: https://www.scoperetail.com/
servers:
- url: https://www.scoperetail.com/fusion/v1
- url: http://www.scoperetail.com/fusion/v1
tags:
- name: order
  description: Details about orders 
  externalDocs:
    description: Find out more
    url: http://www.scoperetail.com

paths:
  /orders:
    post:
      tags:
      - order
      summary: Creates the order
      operationId: orderCreate
      requestBody:
        description: orderCreateRequest Request JSON payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
        required: true
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        400:
          description: Bad Request
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
      x-codegen-request-body-name: orderCreateRequest
components:
  schemas:
    OrderCreateRequest:
      type: object
      properties:
        requestId:
          type: string
          example: "uuid"
        orderType:
          type: string
          example: "Regular"
        customerId:
          type: integer
          example: 1
        lines:
          $ref: '#/components/schemas/Lines'
    Lines:
      type: array
      items:
        $ref: '#/components/schemas/Line'
    Line:
       type: object 
       properties:
        productId:
          type: integer
          example: 1  
        quantity:
          type: integer
          example: 1            
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 1001
        type:
          type: string
          example: success
        message:
          type: string
          example: operation successful.
    ApiResponseError:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 500
        type:
          type: string
          example: Error
        message:
          type: string
          example: operation failed.