swagger: "2.0"
info:
  description: "Order API"
  version: "1.0.0"
  title: "Order API"
  termsOfService: "https://www.scoperetail.com/terms.html"
  contact:
    email: "info@scoperetail.com"
  license:
    name: "Terms"
    url: "https://www.scoperetail.com/terms.html"
host: "www.scoperetail.com"
basePath: "/fusion/v1"
tags:
- name: "order"
  description: "Everything about your orders"
  externalDocs:
    description: "Find out more"
    url: "http://www.scoperetail.com"
schemes:
- "https"
- "http"
paths:
  /orders:
    post:
      tags:
      - "order"
      summary: "Process OrderDropEvent"
      description: ""
      operationId: "OrderDropEvent"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "orderDropEventRequest"
        in: "body"
        description: "OrderDropEvent Request JSON payload"
        required: true
        schema:
          $ref: "#/definitions/OrderDropEvent"
      responses:
        "401":
          description: "Unauthorized"        
        "400":
          description: "Bad Request"
        "422":
          description: "Unprocessable Entity"
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
        "500":
          description: Unexpected error
          schema:
            $ref: "#/definitions/ApiResponseError"            
      security:
      - fusion_auth:
        - "write:orders"

securityDefinitions:
  fusion_auth:
    type: "oauth2"
    authorizationUrl: "http://auth.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:orders: "process new orders"

definitions:
  OrderDropEvent:
    type: "object"
    properties:
      RoutingInfo:
        $ref: "#/definitions/RoutingInfo"
      Order:
        $ref: "#/definitions/Order"
      MessageExtensions:
        $ref: "#/definitions/MessageExtension"

  RoutingInfo:
    type: "object"
    properties:
      SourceNode:
        $ref: "#/definitions/SourceNode"
      DestinationNode:
        $ref: "#/definitions/DestinationNode"
        
  SourceNode:
    type: "object"
    properties:
      location:
        $ref: "#/definitions/CountrySource" 
      nodeID:
        type: "string"
        example: "5505"
        
  DestinationNode:
    type: "object"
    properties:
      location:
        $ref: "#/definitions/CountryDestination"
      nodeID:
        type: "string"
        example: "5505"
      cNodeID:
        type: "string"
        example: "ALPHA"
     
  CountrySource:
    type: "object"
    properties:
      countryCode:
        type: "string"
        example: "US"
      timezone:
        type: "string"
        example: "Pacific Standard Time"
        
  CountryDestination:
    type: "object"
    properties:
      countryCode:
        type: "string"
        example: "US"
  
  Node:
    type: "object"
    properties:
      nodeId:
        type: "integer"
        format: "int32"
        example: 5505
  
  OrderPriority:
    type: "object"
    properties:
      code:
        type: "string"
        example: "1"
      description:
        type: "string"
        example: "Grocery Pickup Default"
  
  Type:
    type: "object"
    properties:
      name:
        type: "string"
        example: "GRP"
  
  DestinationBusinessUnit:
    properties:
      destDivisonNumber:
        type: "string"
        example: "1"
      destBannerName:
        type: "string"
        example: "Walmart Grocery"
 
  CrossRefs:
    type: array
    items: 
      $ref: "#/definitions/CrossRef"
      
  CrossRef:
    properties:
      upc:
        type: "string"
        example: "3867526019"
      itemNbr:
        type: "string"
        example: "70045425"

  Line:
    properties:
      lineNbr:
        type: "string"
        example: "1"
      Upc:
        type: "string"
        example: "3867502610"
      qty:
        type: "integer"
        format: "int32"
        example: 1
      weight:
        type: "number"
        format: "double"
        example: 0.0
      pickByType:
        type: "string"
        example: "EACH"
      substitutionAllowed:
        type: "string"
        example: "N"
      itemNbr:
        type: "string"
        example: "550490652"
      crossRefs:
        $ref: "#/definitions/CrossRefs"

  Lines:
    type: array
    items: 
      $ref: "#/definitions/Line"

  FulfillmentOrder:
    type: "object"
    properties:
      orderNbr:
        type: "integer"
        format: "int64"
        example: 550490652
      type:
         $ref: "#/definitions/Type"
      pickDueTime:
        type: "string"
        example: "pickDueTime"
      expectedOrderPickupTime:
        type: "string"
        example: "expectedOrderPickupTime"
      earliestPickTime:
        type: "string"
        example: "earliestPickTime"
      orderSequenceNumber:
        type: "string"
        example: "509"
      loadGroupNumber:
        type: "string"
        example: "34"
      carrierBagAllowed:
        type: "string"
        example: "N"
      recordCarrierBagCount:
        type: "string"
        example: "N"
      lines:
        $ref: "#/definitions/Lines"
      orderPriority:
        $ref: "#/definitions/OrderPriority"
      destinationBusinessUnit:
        $ref: "#/definitions/DestinationBusinessUnit"

  MessageExtension:
    properties:
      name:
        type: "string"
        example: "Not available"
      value:
        type: "string"
        example: "Not available"

  Order:
    type: "object"
    properties:
      node:
        $ref: "#/definitions/Node"
      fulfillmentOrder:
        $ref: "#/definitions/FulfillmentOrder"
  
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
        example: "1001"
      type:
        type: "string"
        example: "success"
      message:
        type: "string"
        example: "operation successful."
  ApiResponseError:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
        example: "500"
      type:
        type: "string"
        example: "Error"
      message:
        type: "string"
        example: "operation failed."
      
externalDocs:
  description: "Find out more about ScopeRetail"
  url: "https://www.scoperetail.com/"